<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre-se</title>
    <link rel="stylesheet" type="text/css" href="gpt.css">
</head>

<body class="body-cadastro">
    <h1>Cadastro</h1>
    <p>No Brasil, são 20,1 milhões de pessoas em situação de
        insegurança alimentar grave; 9,9% da população.</p>
    <p>Ao todo, o relatório mostra que
        70,3 milhões de pessoas no país nem sempre tiveram o que comer em quantidade suficiente.
    </p>
    <h3>Doe qualquer quantia</h3>
    
    <form action="pedirDadosdoUsuario" method="post">

        <label for="nome">Digite seu nome:</label>
        <input type="text" name="nome" placeholder="" required>

        <label for="sobrenome">Digite seu sobrenome:</label>
        <input type="text" name="sobrenome" placeholder="" required>

        <label for="telefone">Digite seu telefone:</label>
        <input type="tel" name="telefone" placeholder="" required="required">

        <input type="submit">
    </form>
    <br><br>

    <a href="/">Ínicio</a>
</body>

</html>