<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre-se</title>
</head>
<body>
    <h1>Cadastro</h1>
    <p>No Brasil, são 20,1 milhões de pessoas em situação de 
    insegurança alimentar grave; 9,9% da população.</p>
    <p>Ao todo, o relatório mostra que 
    70,3 milhões de pessoas no país nem sempre tiveram o que comer em quantidade suficiente.
    </p>
    <h3>Doe qualquer quantia</h3>
    <form action="/app" method="post">

        <input type="text" name="name" placeholder="Digite seu nome">
        <input type="text" name="sobrenome" placeholder="Digite seu sobrenome">
        <input type="text" name="telefone" placeholder="Digite seu telefone">
        </form>

</body>
</html>