<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alimentação adequada</title>
    <link rel="stylesheet" type="text/css" href="gpt.css">
</head>

<body class="body-alimentacao">
    <h1></h1>
    <!--  <%-include("partials/informacoes") %> -->
    <div class="texto">
        <p>
            Apesar de básica, garantia de segurança alimentar
            e nutricional passa despercebida em discussões sobre prioridades
            de políticas públicas.
        </p>
    </div>
    <div>
        <p>
            Em âmbito nacional e internacional, um vasto arcabouço legal
            garante o direito de todas as pessoas de se alimentar de maneira adequada e digna.
        </p>
        <p>No Brasil,junto ao conceito do direito à alimentação,
            caminha o de soberania alimentar e o de segurança alimentar e nutricional.
        </p>
    </div>
    <div>
        <p>
            Relatório de agência da ONU aponta que 61,3
            milhões de brasileiros sofrem com insegurança alimentar.
        </p>
    </div>

    <div class="img-container">
        <img src="https://fabiobarros.com/wp-content/uploads/2009/06/img-alimentacao-e-nutricao-adequadas-antes-de-tudo-um-direito-humano.jpg"
            alt="" class="img1">
        <img src="https://canalnutricao.s3-sa-east-1.amazonaws.com/wp-content/uploads/2022/06/USP_Qualidade_variedade_sabor_que_comida_verdade_Brasil.jpg"
            alt="" class="img2">
    </div>

    <br>
    <a href="/informacoes">Saiba mais sobre esse problema</a>
    <br>
    <a href="/cadastro">Doe para pessoas necessitadas</a>


</body>

</html>