<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alimentação adequada</title>
    <link rel="stylesheet" type="text/css" href="gpt.css">
</head>
<body>
    <h1>
       <!--  <%-include("partials/informacoes") %> -->
        <p >
            Apesar de básica, garantia de segurança alimentar
             e nutricional passa despercebida em discussões sobre prioridades
             de políticas públicas.
        </p>

<p>
    Em âmbito nacional e internacional, um vasto arcabouço legal
     garante o direito de todas as pessoas de se alimentar de maneira adequada e digna.
     No Brasil, junto ao conceito do direito à alimentação, 
     caminha o de soberania alimentar e o de segurança alimentar e nutricional.
</p>
<p>
    Relatório de agência da ONU aponta que 61,3
    milhões de brasileiros sofrem com insegurança alimentar.
</p>
        <a href="/informacoes">Saiba mais sobre esse problema</a>
        <br>
        <a href="/cadastro">Doe para pessoas necessitadas</a>
    </h1>
</body>
</html>
