<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alimentação adequada</title>
    <link rel="stylesheet" type="text/css" href="../public/gpt.css">
</head>
<body>
    <h1>
        <%-include('informacoes') %>
        <form action="/app" method="post">
        <input type="text" name="name">
        <input type="text" name="sobrenome">    
        <input type="text" name="telefone">
        </form>
    </h1>
</body>
</html>