<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dados sobre fome mundial</title>
</head>
<body>
    <h2>Esse problema é decorrente no Brasil?</h2>
    <p>Os números para o Brasil foram coletados no período de 2019 a 2021 e revelam 
    que 61,3 milhões de brasileiros enfrentaram algum grau de insegurança alimentar.</p>
</body>
</html>