<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dados sobre fome mundial</title>
    <link rel="stylesheet" type="text/css" href="gpt.css">
</head>

<body class="body-alimentacao">
    <h2>Esse problema é decorrente no Brasil?</h2>
    <div>
        <p class="textoinformacoes">Os números para o Brasil foram coletados no período de 2019 a 2021 e revelam
            que 61,3 milhões de brasileiros enfrentaram algum grau de insegurança alimentar.</p>
        <p class="textoinformacoes">A cada dia a natureza produz o suficiente para nossa carência. Se cada um tomasse o que fosse necessário, não
            haveria pobreza no mundo e ninguém morreria de fome</p>
    </div>
    <div class="img3"> <img src="https://s5.static.brasilescola.uol.com.br/be/2022/06/fome.jpg">
    </div>
        <br>
    <a href="/">Ínicio</a>
</body>

</html>