<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<title>Calculadora</title>

	</head>
	<body style="background-color: beige;">
        <h1>Calculadora</h1>
        <form action="/calcular" method="post">
		<input type="text" name="txtValor1">
		<input type="text" name="operacoes" placeholder="operador (*, /, +, -)">
		<input type="text" name="txtValor2" size="5"><br>		
		<input type="submit" value="Calcular" name="result">
		<input type="button" onclick="Limpar('txtValor1', 'txtValor2')" value="Limpar">
		
		<hr>		
    </form>
	</body>
</html>